.product {

   align-items: center;
    /* border-radius: 75px; */
    justify-content: center;
    position: relative;
    transition: 1s box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 500px;
    min-width: 100px;
    /*background-color:white;*/
    background: linear-gradient(
        to bottom right,
        rgb(235, 195, 217),
        rgb(188, 217, 235)
      );
    z-index: 1;
    overflow: hidden;
  }
  .product:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.5);
  }
  .product:hover::before,
  .product:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 1000px;
    background: #FDA8CF;
    /* border-radius: 75px; */
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .product:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -10px;
      left: 0;
    }
    5% {
      top: -2px;
      left: 2px;
    }
    10% {
      top: 0;
      left: 5px;    
    }
    35% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    60% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    85% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    5% {
      top: -2px;
      right: 2px;
    }
    10% {
      top: 0;
      right: 5px;    
    }
    35% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    60% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    85% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
  .product__rating {
    display: flex;
  }
  
  .product > img {
    max-height:300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .product > button {
    text-shadow: 0px 0px 6px rgb(44, 12, 226);
    padding: 10px;
    position:relative;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s; 
    background: #F3CE5E;
    border: 1px solid;
    margin-top: 10px;
    border-color: #161104, #dda10b, #c610c6;
    cursor: pointer;
  }
  .product > button:hover {
    background:#FDA8CF;;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
     box-shadow: 5px 40px -10px rgba(0,0,0,1);
     transition: all 0.4s ease 0s;
  }
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 250px;
    margin-bottom: 15px;
  }